---
import Vector2 from '../images/desktop/Vector 2.svg';
import vector4 from '../images/desktop/Vector 4.svg';
import Frame from '../images/mobile/Frame.svg';
import HamburgerButton from '../images/mobile/Hamburger-Button.svg';
import Vector from '../images/mobile/Vector.svg';
import BtnPrimary from '../components/Buttons/BtnPrimary.astro';
---

<header class='w-full'>
  <nav
    class='flex justify-between md:justify-around items-baseline md:items-center px-5 pt-5 md:pt-10'
  >
    <div class='flex items-baseline md:items-center gap-2'>
      <img
        src={Vector.src}
        alt='logo'
      />
      <img
        src={Frame.src}
        alt='frame'
      />
    </div>
    <ul class='hidden md:flex md:gap-14'>
      <li
        class='hover:transition ease-in-out hover:-translate-y-[0.10rem] hover:scale-125 duration-300'
      >
        <a
          class='md:text-customtext md:text-xs'
          href='#about'
          >ABOUT</a
        >
      </li>
      <li
        class='hover:transition ease-in-out hover:-translate-y-[0.10rem] hover:scale-125 duration-300'
      >
        <a
          class='md:text-customtext md:text-xs'
          href='#services'
          >SERVICES</a
        >
      </li>
      <li
        class='hover:transition ease-in-out hover:-translate-y-[0.10rem] hover:scale-125 duration-300'
      >
        <a
          class='md:text-customtext md:text-xs'
          href='#technologies'
          >TECHNOLOGIES</a
        >
      </li>
      <li
        class='hover:transition ease-in-out hover:-translate-y-[0.10rem] hover:scale-125 duration-300'
      >
        <a
          class='md:text-customtext md:text-xs'
          href='#how-to'
          >HOW TO</a
        >
      </li>
    </ul>
    <div class='hidden md:flex md:justify-center md:items-center md:gap-10'>
      <a
        class='border-[1px] border-white rounded-full text-customtext py-2 px-11 text-nowrap'
        href='#contact'
        >CONTACT US</a
      >
      <BtnPrimary body='JOIN HYDRA' />
    </div>
    <img
      class='md:hidden'
      src={HamburgerButton.src}
      alt='menu'
    />
  </nav>
  <img
    class='z-20 hidden md:block absolute animate-pulse'
    src={vector4.src}
    alt='vector 4'
  />

  <img
    class='z-20 hidden md:block absolute right-[176px] top-[-145px] transform rotate-[-9deg] animate-pulse'
    src={Vector2.src}
    alt='vector'
  />
</header>
