---
import SmallDownLeft from '../images/mobile/chevron-small-down-left.svg';
import SmallDownRight from '../images/mobile/chevron-small-down-right.svg';
import Carousel from '../components/carousel/Carousel.astro';
import ItemCarousel from '../components/carousel/ItemCarousel.astro';
import Tech1 from '../images/desktop/Tech1.svg';
import Tech2 from '../images/desktop/Tech2.svg';
import Tech3 from '../images/desktop/Tech3.svg';
import Tech4 from '../images/desktop/Tech4.svg';
import PexelsRodnae from '../images/desktop/tecnologies.svg';
import MaskGroup from '../images/mobile/Mask-group-tecnology.png';
---

<section
	id='technologies'
	class='flex justify-center items-center flex-col mt-12 w-full md:w-[86%]'>
	<article class='relative'>
		<picture>
			<source
				srcset={PexelsRodnae.src}
				media='(min-width: 768px)'
			/>
			<img
				class='rounded-3xl md:rounded-full'
				src={MaskGroup.src}
				alt='group-tecnology'
			/>
		</picture>
		<div class='absolute flex top-0 left-0 w-full h-full'>
			<div class='my-auto w-full flex justify-center items-center flex-col'>
				<h2 class='font-bold text-base text-customtext leading-5'>
					TECHNOLOGIES & HARDWARE
				</h2>
				<h2 class='font-light text-customtext text-2xl'>USED BY HYDRA VR.</h2>
			</div>
		</div>
	</article>

	<Carousel
		className='w-[90%] lg:w-full flex justify-center items-center md:gap-5'>
		<ItemCarousel>
			<img
				src={Tech1.src}
				alt='hydra-tech1'
			/>
		</ItemCarousel>
		<ItemCarousel>
			<img
				class=''
				src={Tech2.src}
				alt='hydra-tech3'
			/>
		</ItemCarousel>
		<ItemCarousel>
			<img
				class=''
				src={Tech3.src}
				alt='hydra-tech2'
			/>
		</ItemCarousel>
		<ItemCarousel>
			<img
				src={Tech4.src}
				alt='Hydra-Tech4'
			/>
		</ItemCarousel>
		<button
			class='lg:hidden absolute left-0 transform-[translateY(-50%)] bg-fondo p-1 rounded-full'
			slot='btnLeft-after-items'>
			<img
				class='bg-gradient-to-r from-secundary from-0% via-primary via-100% rounded-full'
				data-button='prev'
				src={SmallDownLeft.src}
				alt='circle-left'
			/>
		</button>
		<button
			class='lg:hidden absolute right-0 transform-[translateY(-50%)] bg-fondo p-1 rounded-full'
			slot='btnRight-after-items'>
			<img
				class='bg-gradient-to-r from-secundary from-0% via-primary via-100% rounded-full'
				data-button='next'
				src={SmallDownRight.src}
				alt='circle-right'
			/>
		</button>
	</Carousel>
	<!-- <article class=' relative'>
    <div class='md:hidden absolute flex top-0 left-0 w-full h-full px-3'>
      <div class='my-auto w-full flex justify-between px-1'>
        <div class='bg-fondo p-1 rounded-full'>
          <button
            class='bg-gradient-to-r from-secundary from-0% via-primary via-100% rounded-full block'
          >
            <img
              data-button='prev'
              src={SmallDownLeft.src}
              alt='circle-left'
            />
          </button>
        </div>
        <div class='bg-fondo p-1 rounded-full'>
          <button
            class='bg-gradient-to-r from-secundary from-0% via-primary via-100% rounded-full block'
          >
            <img
              data-button='next'
              src={SmallDownRight.src}
              alt='circle-right'
            />
          </button>
        </div>
      </div>
    </div>
  </article> -->
</section>
